<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-xl">
    <a class="navbar-brand" href="#">Gradient maker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="create-template">Create template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="templates">Templates</a>
        </li>
      </ul>
    </div>
  </div>
</nav>