<div class="search-container">
    <div class="container">
        <h1 class="mb-3">Search templates</h1>
        <form autocomplete="off" [formGroup]="searchForm" (ngSubmit)="search()" class="row">    
            <div class="col-sm-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name">
            </div>
            <div class="col-sm-3">
                to do
            </div>
            <div class="col-sm-3">
                to do
            </div>
            <div class="col-sm-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

